In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('FitBit data.csv')

In [3]:
df.head()

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
0,1503960366,3/25/2016,11004,7.11,7.11,0.0,2.57,0.46,4.07,0.0,33,12,205,804,1819
1,1503960366,3/26/2016,17609,11.55,11.55,0.0,6.92,0.73,3.91,0.0,89,17,274,588,2154
2,1503960366,3/27/2016,12736,8.53,8.53,0.0,4.66,0.16,3.71,0.0,56,5,268,605,1944
3,1503960366,3/28/2016,13231,8.93,8.93,0.0,3.19,0.79,4.95,0.0,39,20,224,1080,1932
4,1503960366,3/29/2016,12041,7.85,7.85,0.0,2.16,1.09,4.61,0.0,28,28,243,763,1886

In [4]:
for i in df:
    print(i)

Id
ActivityDate
TotalSteps
TotalDistance
TrackerDistance
LoggedActivitiesDistance
VeryActiveDistance
ModeratelyActiveDistance
LightActiveDistance
SedentaryActiveDistance
VeryActiveMinutes
FairlyActiveMinutes
LightlyActiveMinutes
SedentaryMinutes
Calories

In [61]:
df.columns

Index(['Id', 'ActivityDate', 'TotalSteps', 'TotalDistance', 'TrackerDistance',
       'LoggedActivitiesDistance', 'VeryActiveDistance',
       'ModeratelyActiveDistance', 'LightActiveDistance',
       'SedentaryActiveDistance', 'VeryActiveMinutes', 'FairlyActiveMinutes',
       'LightlyActiveMinutes', 'SedentaryMinutes', 'Calories'],
      dtype='object')

In [62]:
df['ActivityDate'] = pd.to_datetime(df['ActivityDate'],format = '%m/%d/%Y')

In [63]:
df

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
0,1503960366,2016-03-25,11004,7.110000,7.110000,0.0,2.57,0.46,4.07,0.00,33,12,205,804,1819
1,1503960366,2016-03-26,17609,11.550000,11.550000,0.0,6.92,0.73,3.91,0.00,89,17,274,588,2154
2,1503960366,2016-03-27,12736,8.530000,8.530000,0.0,4.66,0.16,3.71,0.00,56,5,268,605,1944
3,1503960366,2016-03-28,13231,8.930000,8.930000,0.0,3.19,0.79,4.95,0.00,39,20,224,1080,1932
4,1503960366,2016-03-29,12041,7.850000,7.850000,0.0,2.16,1.09,4.61,0.00,28,28,243,763,1886
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
452,8877689391,2016-04-08,23014,20.389999,20.389999,0.0,11.10,0.63,8.62,0.00,70,29,359,982,4196
453,8877689391,2016-04-09,16470,8.070000,8.070000,0.0,0.00,0.02,8.02,0.00,90,9,289,1052,3841
454,8877689391,2016-04-10,28497,27.530001,27.530001,0.0,21.92,1.12,4.46,0.00,128,46,211,1055,4526
455,8877689391,2016-04-11,10622,8.060000,8.060000,0.0,1.47,0.15,6.37,0.01,18,7,225,1190,2820
456,8877689391,2016-04-12,2350,1.780000,1.780000,0.0,0.00,0.00,1.78,0.00,0,0,58,531,938

# Q2 : How many unique ID's are present

In [64]:
df.columns

Index(['Id', 'ActivityDate', 'TotalSteps', 'TotalDistance', 'TrackerDistance',
       'LoggedActivitiesDistance', 'VeryActiveDistance',
       'ModeratelyActiveDistance', 'LightActiveDistance',
       'SedentaryActiveDistance', 'VeryActiveMinutes', 'FairlyActiveMinutes',
       'LightlyActiveMinutes', 'SedentaryMinutes', 'Calories'],
      dtype='object')

In [65]:
len(df['Id'].unique())

35

# Q3 : Which ID is one of active ID that you have in whole data set

In [66]:
df.head(3)

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
0,1503960366,2016-03-25,11004,7.11,7.11,0.0,2.57,0.46,4.07,0.0,33,12,205,804,1819
1,1503960366,2016-03-26,17609,11.55,11.55,0.0,6.92,0.73,3.91,0.0,89,17,274,588,2154
2,1503960366,2016-03-27,12736,8.53,8.53,0.0,4.66,0.16,3.71,0.0,56,5,268,605,1944

In [67]:
df['VeryActiveMinutes'].max()

202

In [68]:
len(df)

457

In [69]:
df.groupby(['Id']).sum()[['VeryActiveMinutes']].idxmax(),df.groupby(['Id']).sum()[['VeryActiveMinutes']].max()

(VeryActiveMinutes    8053475328
 dtype: int64,
 VeryActiveMinutes    933
 dtype: int64)

# Q4 :How many of them have not logged there activity find out interms of number of ID's

In [1]:
df.head()

NameError: name 'df' is not defined

In [71]:
len(df[df['LoggedActivitiesDistance'] == 0]['Id'].unique())

35

# Q5 :Find out who is the laziest person ID that we have in data set

In [72]:
df.columns

Index(['Id', 'ActivityDate', 'TotalSteps', 'TotalDistance', 'TrackerDistance',
       'LoggedActivitiesDistance', 'VeryActiveDistance',
       'ModeratelyActiveDistance', 'LightActiveDistance',
       'SedentaryActiveDistance', 'VeryActiveMinutes', 'FairlyActiveMinutes',
       'LightlyActiveMinutes', 'SedentaryMinutes', 'Calories'],
      dtype='object')

In [73]:
df['TotalSteps'].max()

28497

In [4]:
df.groupby(['Id']).sum()[['Calories']].idxmin(),df.groupby(['Id']).sum()[['Calories']].min()

(Calories    4388161847
 dtype: int64,
 Calories    14442
 dtype: int64)

# Q6 : How many healthy persons we have in our Data Set

In [5]:
def check_healthy(var):
    min_cal_burn = 2500
    if var >= 2500:
        return 'Healthy'
    else:
        return 'Unhealthy'

In [76]:
df.columns

Index(['Id', 'ActivityDate', 'TotalSteps', 'TotalDistance', 'TrackerDistance',
       'LoggedActivitiesDistance', 'VeryActiveDistance',
       'ModeratelyActiveDistance', 'LightActiveDistance',
       'SedentaryActiveDistance', 'VeryActiveMinutes', 'FairlyActiveMinutes',
       'LightlyActiveMinutes', 'SedentaryMinutes', 'Calories'],
      dtype='object')

In [77]:
len(df[df['Calories'] >= 2500]['Id'].unique())

17

# Q7 : How many person are not a regular person with respect to activity

In [78]:
df.head(10)

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
0,1503960366,2016-03-25,11004,7.11,7.11,0.0,2.57,0.46,4.07,0.0,33,12,205,804,1819
1,1503960366,2016-03-26,17609,11.55,11.55,0.0,6.92,0.73,3.91,0.0,89,17,274,588,2154
2,1503960366,2016-03-27,12736,8.53,8.53,0.0,4.66,0.16,3.71,0.0,56,5,268,605,1944
3,1503960366,2016-03-28,13231,8.93,8.93,0.0,3.19,0.79,4.95,0.0,39,20,224,1080,1932
4,1503960366,2016-03-29,12041,7.85,7.85,0.0,2.16,1.09,4.61,0.0,28,28,243,763,1886
5,1503960366,2016-03-30,10970,7.16,7.16,0.0,2.36,0.51,4.29,0.0,30,13,223,1174,1820
6,1503960366,2016-03-31,12256,7.86,7.86,0.0,2.29,0.49,5.04,0.0,33,12,239,820,1889
7,1503960366,2016-04-01,12262,7.87,7.87,0.0,3.32,0.83,3.64,0.0,47,21,200,866,1868
8,1503960366,2016-04-02,11248,7.25,7.25,0.0,3.00,0.45,3.74,0.0,40,11,244,636,1843
9,1503960366,2016-04-03,10016,6.37,6.37,0.0,0.91,1.28,4.18,0.0,15,30,314,655,1850

In [79]:
df.columns

Index(['Id', 'ActivityDate', 'TotalSteps', 'TotalDistance', 'TrackerDistance',
       'LoggedActivitiesDistance', 'VeryActiveDistance',
       'ModeratelyActiveDistance', 'LightActiveDistance',
       'SedentaryActiveDistance', 'VeryActiveMinutes', 'FairlyActiveMinutes',
       'LightlyActiveMinutes', 'SedentaryMinutes', 'Calories'],
      dtype='object')

In [139]:
df.head(20)

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
0,1503960366,2016-03-25,11004,7.11,7.11,0.0,2.57,0.46,4.07,0.00,33,12,205,804,1819
1,1503960366,2016-03-26,17609,11.55,11.55,0.0,6.92,0.73,3.91,0.00,89,17,274,588,2154
2,1503960366,2016-03-27,12736,8.53,8.53,0.0,4.66,0.16,3.71,0.00,56,5,268,605,1944
3,1503960366,2016-03-28,13231,8.93,8.93,0.0,3.19,0.79,4.95,0.00,39,20,224,1080,1932
4,1503960366,2016-03-29,12041,7.85,7.85,0.0,2.16,1.09,4.61,0.00,28,28,243,763,1886
5,1503960366,2016-03-30,10970,7.16,7.16,0.0,2.36,0.51,4.29,0.00,30,13,223,1174,1820
6,1503960366,2016-03-31,12256,7.86,7.86,0.0,2.29,0.49,5.04,0.00,33,12,239,820,1889
7,1503960366,2016-04-01,12262,7.87,7.87,0.0,3.32,0.83,3.64,0.00,47,21,200,866,1868
8,1503960366,2016-04-02,11248,7.25,7.25,0.0,3.00,0.45,3.74,0.00,40,11,244,636,1843
9,1503960366,2016-04-03,10016,6.37,6.37,0.0,0.91,1.28,4.18,0.00,15,30,314,655,1850
10,1503960366,2016-04-04,14557,9.80,9.80,0.0,3.39,0.70,5.69,0.00,43,18,285,757,2030
11,1503960366,2016-04-05,14844,9.73,9.73,0.0,2.94,0.76,6.04,0.00,36,18,341,736,2083
12,1503960366,2016-04-06,11974,7.67,7.67,0.0,2.04,0.48,5.15,0.00,27,12,228,1173,1861
13,1503960366,2016-04-07,10198,6.44,6.44,0.0,1.20,0.79,4.45,0.00,17,20,195,1208,1755
14,1503960366,2016-04-08,12521,7.94,7.94,0.0,3.31,0.90,3.74,0.00,46,22,212,1160,1895
15,1503960366,2016-04-09,12432,8.10,8.10,0.0,2.59,0.59,4.92,0.00,32,15,248,738,1883
16,1503960366,2016-04-10,10057,6.98,6.98,0.0,4.00,0.49,2.48,0.00,44,13,168,737,1755
17,1503960366,2016-04-11,10990,7.26,7.26,0.0,2.04,0.57,4.65,0.00,26,14,216,855,1811
18,1503960366,2016-04-12,224,0.14,0.14,0.0,0.00,0.00,0.13,0.00,0,0,9,32,50
19,1624580081,2016-03-25,1810,1.18,1.18,0.0,0.00,0.00,1.13,0.01,0,0,121,1319,1373

In [140]:
df['Id'].value_counts().min()

8

In [96]:
df[['Id']].value_counts()

Id
4057192912    32
4020332650    32
1503960366    19
1624580081    19
2347167796    15
4702921684    15
4445114986    15
6962181067    14
2320127002    12
4558609924    12
8792009665    12
8378563200    12
8253242879    12
7086361926    12
7007744171    12
2026352035    12
5553957443    12
8877689391    12
1844505072    12
2022484408    12
2873212765    12
3977333714    12
1927972279    12
4319703577    12
8053475328    11
5577150313    11
6290855005    10
1644430081    10
6117666160    10
3372868164    10
6391747486     9
6775888955     9
2891001357     8
8583815059     8
4388161847     8
dtype: int64

In [87]:
for i in df['Id'].unique():
    if len(df[df['Id'] == i]) == df[['Id']].value_counts().min():
        print (i)

2891001357
4388161847
8583815059

In [138]:
df[['Id']].value_counts().min()

8

In [10]:
df[df['Calories'] ==1819 ]

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
0,1503960366,3/25/2016,11004,7.11,7.11,0.0,2.57,0.46,4.07,0.0,33,12,205,804,1819

In [142]:
list(df['Id'].unique())

[1503960366,
 1624580081,
 1644430081,
 1844505072,
 1927972279,
 2022484408,
 2026352035,
 2320127002,
 2347167796,
 2873212765,
 2891001357,
 3372868164,
 3977333714,
 4020332650,
 4057192912,
 4319703577,
 4388161847,
 4445114986,
 4558609924,
 4702921684,
 5553957443,
 5577150313,
 6117666160,
 6290855005,
 6391747486,
 6775888955,
 6962181067,
 7007744171,
 7086361926,
 8053475328,
 8253242879,
 8378563200,
 8583815059,
 8792009665,
 8877689391]

In [6]:
df[df['Id'] == 4057192912].count()

Id                          32
ActivityDate                32
TotalSteps                  32
TotalDistance               32
TrackerDistance             32
LoggedActivitiesDistance    32
VeryActiveDistance          32
ModeratelyActiveDistance    32
LightActiveDistance         32
SedentaryActiveDistance     32
VeryActiveMinutes           32
FairlyActiveMinutes         32
LightlyActiveMinutes        32
SedentaryMinutes            32
Calories                    32
dtype: int64

In [116]:
df['Id']

0      1503960366
1      1503960366
2      1503960366
3      1503960366
4      1503960366
          ...
452    8877689391
453    8877689391
454    8877689391
455    8877689391
456    8877689391
Name: Id, Length: 457, dtype: int64

In [129]:
list(df['Id'].unique())

[1503960366,
 1624580081,
 1644430081,
 1844505072,
 1927972279,
 2022484408,
 2026352035,
 2320127002,
 2347167796,
 2873212765,
 2891001357,
 3372868164,
 3977333714,
 4020332650,
 4057192912,
 4319703577,
 4388161847,
 4445114986,
 4558609924,
 4702921684,
 5553957443,
 5577150313,
 6117666160,
 6290855005,
 6391747486,
 6775888955,
 6962181067,
 7007744171,
 7086361926,
 8053475328,
 8253242879,
 8378563200,
 8583815059,
 8792009665,
 8877689391]