In [1]:
import pandas as pd

In [8]:
df=pd.read_csv('D:/DS/mynotes/pandas 2/sales_data_final.csv')

In [10]:
df.head(3)

,order_id,order_date,ship_date,ship_mode,customer_name,segment,state,country,market,region,...,category,sub_category,product_name,sales,quantity,discount,profit,shipping_cost,order_priority,year
0,AG-2011-2040,1/1/2011,1/6/2011,Standard Class,Toby Braunhardt,Consumer,Constantine,Algeria,Africa,Africa,...,Office Supplies,Storage,"Tenex Lockers, Blue",408,2,0.0,106.140,35.46,Medium,2011
1,IN-2011-47883,1/1/2011,1/8/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,Office Supplies,Supplies,"Acme Trimmer, High Speed",120,3,0.1,36.036,9.72,Medium,2011
2,HU-2011-1220,1/1/2011,1/5/2011,Second Class,Annie Thurman,Consumer,Budapest,Hungary,EMEA,EMEA,...,Office Supplies,Storage,"Tenex Box, Single Width",66,4,0.0,29.640,8.17,High,2011

In [12]:
df.columns

Index(['order_id', 'order_date', 'ship_date', 'ship_mode', 'customer_name',
       'segment', 'state', 'country', 'market', 'region', 'product_id',
       'category', 'sub_category', 'product_name', 'sales', 'quantity',
       'discount', 'profit', 'shipping_cost', 'order_priority', 'year'],
      dtype='object')

In [14]:
df['order_date']

0          1/1/2011
1          1/1/2011
2          1/1/2011
3          1/1/2011
4          1/1/2011
            ...
51285    12/31/2014
51286    12/31/2014
51287    12/31/2014
51288    12/31/2014
51289    12/31/2014
Name: order_date, Length: 51290, dtype: object

In [16]:
type(df['order_date'])

pandas.core.series.Series

In [19]:
df.dtypes

order_id           object
order_date         object
ship_date          object
ship_mode          object
customer_name      object
segment            object
state              object
country            object
market             object
region             object
product_id         object
category           object
sub_category       object
product_name       object
sales              object
quantity            int64
discount          float64
profit            float64
shipping_cost     float64
order_priority     object
year                int64
dtype: object

In [22]:
df['profit']

0        106.1400
1         36.0360
2         29.6400
3        -26.0550
4         37.7700
           ...
51285      4.5188
51286      0.4200
51287     12.3600
51288      0.5600
51289     -0.6048
Name: profit, Length: 51290, dtype: float64

In [25]:
df[['profit','year']]

         profit  year
0      106.1400  2011
1       36.0360  2011
2       29.6400  2011
3      -26.0550  2011
4       37.7700  2011
...         ...   ...
51285    4.5188  2014
51286    0.4200  2014
51287   12.3600  2014
51288    0.5600  2014
51289   -0.6048  2014

[51290 rows x 2 columns]

In [27]:
type(df['profit'])

pandas.core.series.Series

In [30]:
df.columns

Index(['order_id', 'order_date', 'ship_date', 'ship_mode', 'customer_name',
       'segment', 'state', 'country', 'market', 'region', 'product_id',
       'category', 'sub_category', 'product_name', 'sales', 'quantity',
       'discount', 'profit', 'shipping_cost', 'order_priority', 'year'],
      dtype='object')

In [31]:
df[['order_id','product_id','quantity']]

              order_id        product_id  quantity
0         AG-2011-2040  OFF-TEN-10000025         2
1        IN-2011-47883   OFF-SU-10000618         3
2         HU-2011-1220  OFF-TEN-10001585         4
3      IT-2011-3647632   OFF-PA-10001492         3
4        IN-2011-47883   FUR-FU-10003447         5
...                ...               ...       ...
51285   CA-2014-115427   OFF-BI-10002103         2
51286     MO-2014-2560  OFF-WIL-10001069         1
51287   MX-2014-110527   OFF-LA-10004182         3
51288   MX-2014-114783   OFF-LA-10000413         1
51289   CA-2014-156720   OFF-FA-10003472         3

[51290 rows x 3 columns]

In [32]:
df.head()

,order_id,order_date,ship_date,ship_mode,customer_name,segment,state,country,market,region,...,category,sub_category,product_name,sales,quantity,discount,profit,shipping_cost,order_priority,year
0,AG-2011-2040,1/1/2011,1/6/2011,Standard Class,Toby Braunhardt,Consumer,Constantine,Algeria,Africa,Africa,...,Office Supplies,Storage,"Tenex Lockers, Blue",408,2,0.0,106.140,35.46,Medium,2011
1,IN-2011-47883,1/1/2011,1/8/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,Office Supplies,Supplies,"Acme Trimmer, High Speed",120,3,0.1,36.036,9.72,Medium,2011
2,HU-2011-1220,1/1/2011,1/5/2011,Second Class,Annie Thurman,Consumer,Budapest,Hungary,EMEA,EMEA,...,Office Supplies,Storage,"Tenex Box, Single Width",66,4,0.0,29.640,8.17,High,2011
3,IT-2011-3647632,1/1/2011,1/5/2011,Second Class,Eugene Moren,Home Office,Stockholm,Sweden,EU,North,...,Office Supplies,Paper,"Enermax Note Cards, Premium",45,3,0.5,-26.055,4.82,High,2011
4,IN-2011-47883,1/1/2011,1/8/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,Furniture,Furnishings,"Eldon Light Bulb, Duo Pack",114,5,0.1,37.770,4.70,Medium,2011

In [34]:
df.describe()

           quantity      discount        profit  shipping_cost          year
count  51290.000000  51290.000000  51290.000000   51290.000000  51290.000000
mean       3.476545      0.142908     28.641740      26.375915   2012.777208
std        2.278766      0.212280    174.424113      57.296804      1.098931
min        1.000000      0.000000  -6599.978000       0.000000   2011.000000
25%        2.000000      0.000000      0.000000       2.610000   2012.000000
50%        3.000000      0.000000      9.240000       7.790000   2013.000000
75%        5.000000      0.200000     36.810000      24.450000   2014.000000
max       14.000000      0.850000   8399.976000     933.570000   2014.000000

In [36]:
df.dtypes

order_id           object
order_date         object
ship_date          object
ship_mode          object
customer_name      object
segment            object
state              object
country            object
market             object
region             object
product_id         object
category           object
sub_category       object
product_name       object
sales              object
quantity            int64
discount          float64
profit            float64
shipping_cost     float64
order_priority     object
year                int64
dtype: object

In [38]:
df.dtypes=='object'

order_id           True
order_date         True
ship_date          True
ship_mode          True
customer_name      True
segment            True
state              True
country            True
market             True
region             True
product_id         True
category           True
sub_category       True
product_name       True
sales              True
quantity          False
discount          False
profit            False
shipping_cost     False
order_priority     True
year              False
dtype: bool

In [50]:
df.dtypes[df.dtypes=='object']

order_id          object
order_date        object
ship_date         object
ship_mode         object
customer_name     object
segment           object
state             object
country           object
market            object
region            object
product_id        object
category          object
sub_category      object
product_name      object
sales             object
order_priority    object
dtype: object

In [43]:
type(df.dtypes)

pandas.core.series.Series

In [46]:
df[df.dtypes[df.dtypes=='object'].index].describe()

,order_id,order_date,ship_date,ship_mode,customer_name,segment,state,country,market,region,product_id,category,sub_category,product_name,sales,order_priority
count,51290,51290,51290,51290,51290,51290,51290,51290,51290,51290,51290,51290,51290,51290,51290,51290
unique,25035,1430,1464,4,795,3,1094,147,7,13,10292,3,17,3788,2246,4
top,CA-2014-100111,6/18/2014,11/22/2014,Standard Class,Muhammed Yedwab,Consumer,California,United States,APAC,Central,OFF-AR-10003651,Office Supplies,Binders,Staples,13,Medium
freq,14,135,130,30775,108,26518,2001,9994,11002,11117,35,31273,6152,227,589,29433

In [93]:
df[df.dtypes[df.dtypes=='float'].index]

       discount    profit  shipping_cost
0           0.0  106.1400          35.46
1           0.1   36.0360           9.72
2           0.0   29.6400           8.17
3           0.5  -26.0550           4.82
4           0.1   37.7700           4.70
...         ...       ...            ...
51285       0.2    4.5188           0.89
51286       0.0    0.4200           0.49
51287       0.0   12.3600           0.35
51288       0.0    0.5600           0.20
51289       0.2   -0.6048           0.17

[51290 rows x 3 columns]

In [57]:
df.columns

Index(['order_id', 'order_date', 'ship_date', 'ship_mode', 'customer_name',
       'segment', 'state', 'country', 'market', 'region', 'product_id',
       'category', 'sub_category', 'product_name', 'sales', 'quantity',
       'discount', 'profit', 'shipping_cost', 'order_priority', 'year'],
      dtype='object')

In [59]:
df.order_id

0           AG-2011-2040
1          IN-2011-47883
2           HU-2011-1220
3        IT-2011-3647632
4          IN-2011-47883
              ...
51285     CA-2014-115427
51286       MO-2014-2560
51287     MX-2014-110527
51288     MX-2014-114783
51289     CA-2014-156720
Name: order_id, Length: 51290, dtype: object

In [63]:
df['order_id'][1:40:2]

1       IN-2011-47883
3     IT-2011-3647632
5       IN-2011-47883
7       IN-2011-79397
9        IZ-2011-4680
11      IN-2011-65159
13      IN-2011-33652
15     MX-2011-160234
17      ID-2011-80230
19      ID-2011-12596
21       IR-2011-7690
23       TZ-2011-7370
25      IN-2011-65159
27     MX-2011-111255
29     MX-2011-158771
31     MX-2011-111255
33     US-2011-136007
35     MX-2011-159373
37    IT-2011-2942451
39      IN-2011-33036
Name: order_id, dtype: object

In [94]:
df['category1']='steve'

In [70]:
df

,order_id,order_date,ship_date,ship_mode,customer_name,segment,state,country,market,region,...,sub_category,product_name,sales,quantity,discount,profit,shipping_cost,order_priority,year,category1
0,AG-2011-2040,1/1/2011,1/6/2011,Standard Class,Toby Braunhardt,Consumer,Constantine,Algeria,Africa,Africa,...,Storage,"Tenex Lockers, Blue",408,2,0.0,106.1400,35.46,Medium,2011,steve
1,IN-2011-47883,1/1/2011,1/8/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,Supplies,"Acme Trimmer, High Speed",120,3,0.1,36.0360,9.72,Medium,2011,steve
2,HU-2011-1220,1/1/2011,1/5/2011,Second Class,Annie Thurman,Consumer,Budapest,Hungary,EMEA,EMEA,...,Storage,"Tenex Box, Single Width",66,4,0.0,29.6400,8.17,High,2011,steve
3,IT-2011-3647632,1/1/2011,1/5/2011,Second Class,Eugene Moren,Home Office,Stockholm,Sweden,EU,North,...,Paper,"Enermax Note Cards, Premium",45,3,0.5,-26.0550,4.82,High,2011,steve
4,IN-2011-47883,1/1/2011,1/8/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,Furnishings,"Eldon Light Bulb, Duo Pack",114,5,0.1,37.7700,4.70,Medium,2011,steve
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51285,CA-2014-115427,12/31/2014,1/4/2015,Standard Class,Erica Bern,Corporate,California,United States,US,West,...,Binders,"Cardinal Slant-D Ring Binder, Heavy Gauge Vinyl",14,2,0.2,4.5188,0.89,Medium,2014,steve
51286,MO-2014-2560,12/31/2014,1/5/2015,Standard Class,Liz Preis,Consumer,Souss-Massa-DraÂƒ,Morocco,Africa,Africa,...,Binders,"Wilson Jones Hole Reinforcements, Clear",4,1,0.0,0.4200,0.49,Medium,2014,steve
51287,MX-2014-110527,12/31/2014,1/2/2015,Second Class,Charlotte Melton,Consumer,Managua,Nicaragua,LATAM,Central,...,Labels,"Hon Color Coded Labels, 5000 Label Set",26,3,0.0,12.3600,0.35,Medium,2014,steve
51288,MX-2014-114783,12/31/2014,1/6/2015,Standard Class,Tamara Dahlen,Consumer,Chihuahua,Mexico,LATAM,North,...,Labels,"Hon Legal Exhibit Labels, Alphabetical",7,1,0.0,0.5600,0.20,Medium,2014,steve
51289,CA-2014-156720,12/31/2014,1/4/2015,Standard Class,Jill Matthias,Consumer,Colorado,United States,US,West,...,Fasteners,Bagged Rubber Bands,3,3,0.2,-0.6048,0.17,Medium,2014,steve

In [71]:
df['order_id'].isnull()

0        False
1        False
2        False
3        False
4        False
         ...
51285    False
51286    False
51287    False
51288    False
51289    False
Name: order_id, Length: 51290, dtype: bool

In [84]:
df1=pd.read_csv('d:/DS/mynotes/pandas 2/Dress Sales.csv')

In [85]:
df1.columns

Index(['Dress_ID', '29/8/2013', '31/8/2013', '2/9/2013', '4/9/2013',
       '6/9/2013', '8/9/2013', '10/9/2013', '12/9/2013', '14/9/2013',
       '16/9/2013', '18/9/2013', '20/9/2013', '22/9/2013', '24/9/2013',
       '26/9/2013', '28/9/2013', '30/9/2013', '2/10/2013', '4/10/2013',
       '6/10/2013', '8/10/2010', '10/10/2013', '12/10/2013', 'Unnamed: 24',
       'Unnamed: 25', 'Unnamed: 26', 'Unnamed: 27', 'Unnamed: 28',
       'Unnamed: 29', 'Unnamed: 30', 'Unnamed: 31', 'Unnamed: 32',
       'Unnamed: 33', 'Unnamed: 34', 'Unnamed: 35'],
      dtype='object')

In [89]:
df1['Unnamed: 26']

0     NaN
1     NaN
2     NaN
3     NaN
4     NaN
       ..
495   NaN
496   NaN
497   NaN
498   NaN
499   NaN
Name: Unnamed: 26, Length: 500, dtype: float64

In [91]:
df.columns

Index(['order_id', 'order_date', 'ship_date', 'ship_mode', 'customer_name',
       'segment', 'state', 'country', 'market', 'region', 'product_id',
       'category', 'sub_category', 'product_name', 'sales', 'quantity',
       'discount', 'profit', 'shipping_cost', 'order_priority', 'year',
       'category1'],
      dtype='object')

In [102]:
df[df['profit']==max(df['profit'])]['customer_name']

29530    Tamara Chand
Name: customer_name, dtype: object

In [109]:
len(df[df['country']=='sweden'])

0

In [121]:
df[(df['shipping_cost']>80 )& (df['profit']<10)]

,order_id,order_date,ship_date,ship_mode,customer_name,segment,state,country,market,region,...,sub_category,product_name,sales,quantity,discount,profit,shipping_cost,order_priority,year,category1
8,ID-2011-80230,1/3/2011,1/9/2011,Standard Class,Ken Lonsdale,Consumer,Auckland,New Zealand,APAC,Oceania,...,Copiers,"Hewlett Wireless Fax, Laser",912,4,0.40,-319.4640,107.10,Low,2011,steve
200,ES-2011-1374122,1/15/2011,1/18/2011,First Class,Craig Leslie,Home Office,Nord-Pas-de-Calais,France,EU,Central,...,Bookcases,"Dania Library with Doors, Traditional",652,2,0.10,7.2000,88.52,Medium,2011,steve
257,MX-2011-146584,1/21/2011,1/27/2011,Standard Class,Hunter Lopez,Consumer,Managua,Nicaragua,LATAM,Central,...,Tables,"Chromcraft Conference Table, Fully Assembled","2,797",6,0.20,-0.0720,320.38,Low,2011,steve
341,ID-2011-36011,1/26/2011,1/27/2011,First Class,Heather Kirkland,Corporate,Jawa Barat,Indonesia,APAC,Southeast Asia,...,Chairs,"Novimex Executive Leather Armchair, Black",334,1,0.27,-109.9365,92.67,High,2011,steve
451,ES-2011-1640672,2/2/2011,2/5/2011,First Class,Ken Heidel,Corporate,Saxony,Germany,EU,Central,...,Phones,"Motorola Signal Booster, Cordless",584,8,0.50,-58.5600,109.14,High,2011,steve
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50970,ES-2014-4296634,12/27/2014,1/2/2015,Standard Class,Harry Marie,Corporate,Brittany,France,EU,Central,...,Appliances,"Hamilton Beach Microwave, White","1,010",4,0.10,-44.9400,108.27,Low,2014,steve
51034,ID-2014-68183,12/29/2014,12/31/2014,First Class,Adam Hart,Corporate,Victoria,Australia,APAC,Oceania,...,Appliances,"Hoover Stove, Red","1,535",3,0.10,-102.4110,255.42,Medium,2014,steve
51037,IT-2014-2245117,12/29/2014,12/31/2014,First Class,Sarah Bern,Consumer,North Holland,Netherlands,EU,Central,...,Chairs,"Novimex Rocking Chair, Black",516,8,0.50,-392.1600,91.67,Critical,2014,steve
51153,ID-2014-51509,12/30/2014,1/1/2015,Second Class,Naresj Patel,Consumer,Australian Capital Territory,Australia,APAC,Oceania,...,Chairs,"Harbour Creations Rocking Chair, Black",434,5,0.40,-166.4700,124.63,Critical,2014,steve
51231,IN-2014-30390,12/31/2014,1/3/2015,First Class,Justin Deggeller,Corporate,Bangkok,Thailand,APAC,Southeast Asia,...,Tables,"Lesro Training Table, Adjustable Height","1,049",9,0.57,-1195.2387,86.86,High,2014,steve

In [124]:
df.dtypes

order_id           object
order_date         object
ship_date          object
ship_mode          object
customer_name      object
segment            object
state              object
country            object
market             object
region             object
product_id         object
category           object
sub_category       object
product_name       object
sales              object
quantity            int64
discount          float64
profit            float64
shipping_cost     float64
order_priority     object
year                int64
category1          object
dtype: object

In [126]:
df[['profit','customer_name']].max()

profit                     8399.976
customer_name    Zuschuss Donatelli
dtype: object

In [132]:
date=pd.to_datetime(df['order_date'])

In [133]:
type(date[0])

pandas._libs.tslibs.timestamps.Timestamp

In [135]:
df['converted_order_date']=date

In [137]:
df

,order_id,order_date,ship_date,ship_mode,customer_name,segment,state,country,market,region,...,product_name,sales,quantity,discount,profit,shipping_cost,order_priority,year,category1,converted_order_date
0,AG-2011-2040,1/1/2011,1/6/2011,Standard Class,Toby Braunhardt,Consumer,Constantine,Algeria,Africa,Africa,...,"Tenex Lockers, Blue",408,2,0.0,106.1400,35.46,Medium,2011,steve,2011-01-01
1,IN-2011-47883,1/1/2011,1/8/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,"Acme Trimmer, High Speed",120,3,0.1,36.0360,9.72,Medium,2011,steve,2011-01-01
2,HU-2011-1220,1/1/2011,1/5/2011,Second Class,Annie Thurman,Consumer,Budapest,Hungary,EMEA,EMEA,...,"Tenex Box, Single Width",66,4,0.0,29.6400,8.17,High,2011,steve,2011-01-01
3,IT-2011-3647632,1/1/2011,1/5/2011,Second Class,Eugene Moren,Home Office,Stockholm,Sweden,EU,North,...,"Enermax Note Cards, Premium",45,3,0.5,-26.0550,4.82,High,2011,steve,2011-01-01
4,IN-2011-47883,1/1/2011,1/8/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,"Eldon Light Bulb, Duo Pack",114,5,0.1,37.7700,4.70,Medium,2011,steve,2011-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51285,CA-2014-115427,12/31/2014,1/4/2015,Standard Class,Erica Bern,Corporate,California,United States,US,West,...,"Cardinal Slant-D Ring Binder, Heavy Gauge Vinyl",14,2,0.2,4.5188,0.89,Medium,2014,steve,2014-12-31
51286,MO-2014-2560,12/31/2014,1/5/2015,Standard Class,Liz Preis,Consumer,Souss-Massa-DraÂƒ,Morocco,Africa,Africa,...,"Wilson Jones Hole Reinforcements, Clear",4,1,0.0,0.4200,0.49,Medium,2014,steve,2014-12-31
51287,MX-2014-110527,12/31/2014,1/2/2015,Second Class,Charlotte Melton,Consumer,Managua,Nicaragua,LATAM,Central,...,"Hon Color Coded Labels, 5000 Label Set",26,3,0.0,12.3600,0.35,Medium,2014,steve,2014-12-31
51288,MX-2014-114783,12/31/2014,1/6/2015,Standard Class,Tamara Dahlen,Consumer,Chihuahua,Mexico,LATAM,North,...,"Hon Legal Exhibit Labels, Alphabetical",7,1,0.0,0.5600,0.20,Medium,2014,steve,2014-12-31
51289,CA-2014-156720,12/31/2014,1/4/2015,Standard Class,Jill Matthias,Consumer,Colorado,United States,US,West,...,Bagged Rubber Bands,3,3,0.2,-0.6048,0.17,Medium,2014,steve,2014-12-31

In [152]:
df['converted_order_date']=date.dt.year

In [162]:
df['converted_order_week']=date.dt.week

C:\Users\einst\AppData\Local\Temp\ipykernel_9920\2398321435.py:1: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated. Please use Series.dt.isocalendar().week instead.
  df['converted_order_week']=date.dt.week

In [163]:
df['converted_order_year']=date.dt.year

In [139]:
df.head()

,order_id,order_date,ship_date,ship_mode,customer_name,segment,state,country,market,region,...,product_name,sales,quantity,discount,profit,shipping_cost,order_priority,year,category1,converted_order_date
0,AG-2011-2040,1/1/2011,1/6/2011,Standard Class,Toby Braunhardt,Consumer,Constantine,Algeria,Africa,Africa,...,"Tenex Lockers, Blue",408,2,0.0,106.140,35.46,Medium,2011,steve,2011
1,IN-2011-47883,1/1/2011,1/8/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,"Acme Trimmer, High Speed",120,3,0.1,36.036,9.72,Medium,2011,steve,2011
2,HU-2011-1220,1/1/2011,1/5/2011,Second Class,Annie Thurman,Consumer,Budapest,Hungary,EMEA,EMEA,...,"Tenex Box, Single Width",66,4,0.0,29.640,8.17,High,2011,steve,2011
3,IT-2011-3647632,1/1/2011,1/5/2011,Second Class,Eugene Moren,Home Office,Stockholm,Sweden,EU,North,...,"Enermax Note Cards, Premium",45,3,0.5,-26.055,4.82,High,2011,steve,2011
4,IN-2011-47883,1/1/2011,1/8/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,"Eldon Light Bulb, Duo Pack",114,5,0.1,37.770,4.70,Medium,2011,steve,2011

In [155]:
df['converted_order_date']=date.dt.date
df['converted_order_month']=date.dt.month
df['converted_order_woy']=date.dt.weekofyear
df

C:\Users\einst\AppData\Local\Temp\ipykernel_9920\2233660339.py:3: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated. Please use Series.dt.isocalendar().week instead.
  df['converted_order_woy']=date.dt.weekofyear

,order_id,order_date,ship_date,ship_mode,customer_name,segment,state,country,market,region,...,discount,profit,shipping_cost,order_priority,year,category1,converted_order_date,converted_order_month,converted_order_woy,converted_order_week
0,AG-2011-2040,1/1/2011,1/6/2011,Standard Class,Toby Braunhardt,Consumer,Constantine,Algeria,Africa,Africa,...,0.0,106.1400,35.46,Medium,2011,steve,2011-01-01,1,52,52
1,IN-2011-47883,1/1/2011,1/8/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,0.1,36.0360,9.72,Medium,2011,steve,2011-01-01,1,52,52
2,HU-2011-1220,1/1/2011,1/5/2011,Second Class,Annie Thurman,Consumer,Budapest,Hungary,EMEA,EMEA,...,0.0,29.6400,8.17,High,2011,steve,2011-01-01,1,52,52
3,IT-2011-3647632,1/1/2011,1/5/2011,Second Class,Eugene Moren,Home Office,Stockholm,Sweden,EU,North,...,0.5,-26.0550,4.82,High,2011,steve,2011-01-01,1,52,52
4,IN-2011-47883,1/1/2011,1/8/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,0.1,37.7700,4.70,Medium,2011,steve,2011-01-01,1,52,52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51285,CA-2014-115427,12/31/2014,1/4/2015,Standard Class,Erica Bern,Corporate,California,United States,US,West,...,0.2,4.5188,0.89,Medium,2014,steve,2014-12-31,12,1,1
51286,MO-2014-2560,12/31/2014,1/5/2015,Standard Class,Liz Preis,Consumer,Souss-Massa-DraÂƒ,Morocco,Africa,Africa,...,0.0,0.4200,0.49,Medium,2014,steve,2014-12-31,12,1,1
51287,MX-2014-110527,12/31/2014,1/2/2015,Second Class,Charlotte Melton,Consumer,Managua,Nicaragua,LATAM,Central,...,0.0,12.3600,0.35,Medium,2014,steve,2014-12-31,12,1,1
51288,MX-2014-114783,12/31/2014,1/6/2015,Standard Class,Tamara Dahlen,Consumer,Chihuahua,Mexico,LATAM,North,...,0.0,0.5600,0.20,Medium,2014,steve,2014-12-31,12,1,1
51289,CA-2014-156720,12/31/2014,1/4/2015,Standard Class,Jill Matthias,Consumer,Colorado,United States,US,West,...,0.2,-0.6048,0.17,Medium,2014,steve,2014-12-31,12,1,1

In [156]:
df[['converted_order_date','converted_order_week']]

      converted_order_date  converted_order_week
0               2011-01-01                    52
1               2011-01-01                    52
2               2011-01-01                    52
3               2011-01-01                    52
4               2011-01-01                    52
...                    ...                   ...
51285           2014-12-31                     1
51286           2014-12-31                     1
51287           2014-12-31                     1
51288           2014-12-31                     1
51289           2014-12-31                     1

[51290 rows x 2 columns]

In [164]:
df[df['converted_order_year']==2014]

,order_id,order_date,ship_date,ship_mode,customer_name,segment,state,country,market,region,...,profit,shipping_cost,order_priority,year,category1,converted_order_date,converted_order_month,converted_order_woy,converted_order_week,converted_order_year
33759,ES-2014-2774938,1/1/2014,1/3/2014,Second Class,Fred Harton,Consumer,Ile-de-France,France,EU,Central,...,-111.6225,104.69,High,2014,steve,2014-01-01,1,1,1,2014
33760,IN-2014-47134,1/1/2014,1/5/2014,Standard Class,Kean Nguyen,Corporate,Victoria,Australia,APAC,Oceania,...,46.9980,46.20,Medium,2014,steve,2014-01-01,1,1,1,2014
33761,IT-2014-4810734,1/1/2014,1/3/2014,Second Class,Alan Shonely,Consumer,Ile-de-France,France,EU,Central,...,-43.1370,37.85,Critical,2014,steve,2014-01-01,1,1,1,2014
33762,US-2014-105830,1/1/2014,1/3/2014,First Class,Duane Benoit,Consumer,Ohio,United States,US,East,...,-35.2152,30.66,High,2014,steve,2014-01-01,1,1,1,2014
33763,CA-2014-160395,1/1/2014,1/7/2014,Standard Class,Kelly Lampkin,Corporate,Nevada,United States,US,West,...,53.9217,26.90,Low,2014,steve,2014-01-01,1,1,1,2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51285,CA-2014-115427,12/31/2014,1/4/2015,Standard Class,Erica Bern,Corporate,California,United States,US,West,...,4.5188,0.89,Medium,2014,steve,2014-12-31,12,1,1,2014
51286,MO-2014-2560,12/31/2014,1/5/2015,Standard Class,Liz Preis,Consumer,Souss-Massa-DraÂƒ,Morocco,Africa,Africa,...,0.4200,0.49,Medium,2014,steve,2014-12-31,12,1,1,2014
51287,MX-2014-110527,12/31/2014,1/2/2015,Second Class,Charlotte Melton,Consumer,Managua,Nicaragua,LATAM,Central,...,12.3600,0.35,Medium,2014,steve,2014-12-31,12,1,1,2014
51288,MX-2014-114783,12/31/2014,1/6/2015,Standard Class,Tamara Dahlen,Consumer,Chihuahua,Mexico,LATAM,North,...,0.5600,0.20,Medium,2014,steve,2014-12-31,12,1,1,2014
51289,CA-2014-156720,12/31/2014,1/4/2015,Standard Class,Jill Matthias,Consumer,Colorado,United States,US,West,...,-0.6048,0.17,Medium,2014,steve,2014-12-31,12,1,1,2014

In [165]:
df['converted_order_month'].value_counts()

11    6342
12    6302
9     5975
6     5331
8     5078
10    4490
5     3747
7     3166
4     3057
3     3035
1     2599
2     2168
Name: converted_order_month, dtype: int64

In [166]:
df.head()

,order_id,order_date,ship_date,ship_mode,customer_name,segment,state,country,market,region,...,profit,shipping_cost,order_priority,year,category1,converted_order_date,converted_order_month,converted_order_woy,converted_order_week,converted_order_year
0,AG-2011-2040,1/1/2011,1/6/2011,Standard Class,Toby Braunhardt,Consumer,Constantine,Algeria,Africa,Africa,...,106.140,35.46,Medium,2011,steve,2011-01-01,1,52,52,2011
1,IN-2011-47883,1/1/2011,1/8/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,36.036,9.72,Medium,2011,steve,2011-01-01,1,52,52,2011
2,HU-2011-1220,1/1/2011,1/5/2011,Second Class,Annie Thurman,Consumer,Budapest,Hungary,EMEA,EMEA,...,29.640,8.17,High,2011,steve,2011-01-01,1,52,52,2011
3,IT-2011-3647632,1/1/2011,1/5/2011,Second Class,Eugene Moren,Home Office,Stockholm,Sweden,EU,North,...,-26.055,4.82,High,2011,steve,2011-01-01,1,52,52,2011
4,IN-2011-47883,1/1/2011,1/8/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,37.770,4.70,Medium,2011,steve,2011-01-01,1,52,52,2011

In [168]:
df.columns

Index(['order_id', 'order_date', 'ship_date', 'ship_mode', 'customer_name',
       'segment', 'state', 'country', 'market', 'region', 'product_id',
       'category', 'sub_category', 'product_name', 'sales', 'quantity',
       'discount', 'profit', 'shipping_cost', 'order_priority', 'year',
       'category1', 'converted_order_date', 'converted_order_month',
       'converted_order_woy', 'converted_order_week', 'converted_order_year'],
      dtype='object')

In [169]:
df['cost_to_company']=df['discount']+df['shipping_cost']

In [175]:
df[['shipping_cost','discount','cost_to_company']]

       shipping_cost  discount  cost_to_company
0              35.46       0.0            35.46
1               9.72       0.1             9.82
2               8.17       0.0             8.17
3               4.82       0.5             5.32
4               4.70       0.1             4.80
...              ...       ...              ...
51285           0.89       0.2             1.09
51286           0.49       0.0             0.49
51287           0.35       0.0             0.35
51288           0.20       0.0             0.20
51289           0.17       0.2             0.37

[51290 rows x 3 columns]

In [188]:
df[df['cost_to_company']== max(df['cost_to_company'])]['product_name']

13891    Plantronics CS510 - Over-the-Head monaural Wir...
Name: product_name, dtype: object

In [197]:
df.drop('cost_to_company',axis=1,inplace=True)

KeyError: "['cost_to_company'] not found in axis"

In [195]:
df

,order_id,order_date,ship_date,ship_mode,customer_name,segment,state,country,market,region,...,profit,shipping_cost,order_priority,year,category1,converted_order_date,converted_order_month,converted_order_woy,converted_order_week,converted_order_year
0,AG-2011-2040,1/1/2011,1/6/2011,Standard Class,Toby Braunhardt,Consumer,Constantine,Algeria,Africa,Africa,...,106.1400,35.46,Medium,2011,steve,2011-01-01,1,52,52,2011
1,IN-2011-47883,1/1/2011,1/8/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,36.0360,9.72,Medium,2011,steve,2011-01-01,1,52,52,2011
2,HU-2011-1220,1/1/2011,1/5/2011,Second Class,Annie Thurman,Consumer,Budapest,Hungary,EMEA,EMEA,...,29.6400,8.17,High,2011,steve,2011-01-01,1,52,52,2011
3,IT-2011-3647632,1/1/2011,1/5/2011,Second Class,Eugene Moren,Home Office,Stockholm,Sweden,EU,North,...,-26.0550,4.82,High,2011,steve,2011-01-01,1,52,52,2011
4,IN-2011-47883,1/1/2011,1/8/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,37.7700,4.70,Medium,2011,steve,2011-01-01,1,52,52,2011
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51285,CA-2014-115427,12/31/2014,1/4/2015,Standard Class,Erica Bern,Corporate,California,United States,US,West,...,4.5188,0.89,Medium,2014,steve,2014-12-31,12,1,1,2014
51286,MO-2014-2560,12/31/2014,1/5/2015,Standard Class,Liz Preis,Consumer,Souss-Massa-DraÂƒ,Morocco,Africa,Africa,...,0.4200,0.49,Medium,2014,steve,2014-12-31,12,1,1,2014
51287,MX-2014-110527,12/31/2014,1/2/2015,Second Class,Charlotte Melton,Consumer,Managua,Nicaragua,LATAM,Central,...,12.3600,0.35,Medium,2014,steve,2014-12-31,12,1,1,2014
51288,MX-2014-114783,12/31/2014,1/6/2015,Standard Class,Tamara Dahlen,Consumer,Chihuahua,Mexico,LATAM,North,...,0.5600,0.20,Medium,2014,steve,2014-12-31,12,1,1,2014
51289,CA-2014-156720,12/31/2014,1/4/2015,Standard Class,Jill Matthias,Consumer,Colorado,United States,US,West,...,-0.6048,0.17,Medium,2014,steve,2014-12-31,12,1,1,2014

In [203]:
df.loc[2:10:2] #filter the rows

,order_id,order_date,ship_date,ship_mode,customer_name,segment,state,country,market,region,...,profit,shipping_cost,order_priority,year,category1,converted_order_date,converted_order_month,converted_order_woy,converted_order_week,converted_order_year
2,HU-2011-1220,1/1/2011,1/5/2011,Second Class,Annie Thurman,Consumer,Budapest,Hungary,EMEA,EMEA,...,29.6400,8.17,High,2011,steve,2011-01-01,1,52,52,2011
4,IN-2011-47883,1/1/2011,1/8/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,37.7700,4.70,Medium,2011,steve,2011-01-01,1,52,52,2011
6,CA-2011-1510,1/2/2011,1/6/2011,Standard Class,Magdelene Morse,Consumer,Ontario,Canada,Canada,Canada,...,3.1200,24.10,Medium,2011,steve,2011-01-02,1,52,52,2011
8,ID-2011-80230,1/3/2011,1/9/2011,Standard Class,Ken Lonsdale,Consumer,Auckland,New Zealand,APAC,Oceania,...,-319.4640,107.10,Low,2011,steve,2011-01-03,1,1,1,2011
10,IN-2011-65159,1/3/2011,1/7/2011,Second Class,Larry Blacks,Consumer,National Capital,Philippines,APAC,Southeast Asia,...,-122.8005,33.75,High,2011,steve,2011-01-03,1,1,1,2011

In [206]:
df.loc[0:4,['order_id','order_date','ship_date']]

          order_id order_date ship_date
0     AG-2011-2040   1/1/2011  1/6/2011
1    IN-2011-47883   1/1/2011  1/8/2011
2     HU-2011-1220   1/1/2011  1/5/2011
3  IT-2011-3647632   1/1/2011  1/5/2011
4    IN-2011-47883   1/1/2011  1/8/2011

In [210]:
df.iloc[0:4,3:6]

        ship_mode    customer_name      segment
0  Standard Class  Toby Braunhardt     Consumer
1  Standard Class      Joseph Holt     Consumer
2    Second Class    Annie Thurman     Consumer
3    Second Class     Eugene Moren  Home Office

In [208]:
df

,order_id,order_date,ship_date,ship_mode,customer_name,segment,state,country,market,region,...,profit,shipping_cost,order_priority,year,category1,converted_order_date,converted_order_month,converted_order_woy,converted_order_week,converted_order_year
0,AG-2011-2040,1/1/2011,1/6/2011,Standard Class,Toby Braunhardt,Consumer,Constantine,Algeria,Africa,Africa,...,106.1400,35.46,Medium,2011,steve,2011-01-01,1,52,52,2011
1,IN-2011-47883,1/1/2011,1/8/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,36.0360,9.72,Medium,2011,steve,2011-01-01,1,52,52,2011
2,HU-2011-1220,1/1/2011,1/5/2011,Second Class,Annie Thurman,Consumer,Budapest,Hungary,EMEA,EMEA,...,29.6400,8.17,High,2011,steve,2011-01-01,1,52,52,2011
3,IT-2011-3647632,1/1/2011,1/5/2011,Second Class,Eugene Moren,Home Office,Stockholm,Sweden,EU,North,...,-26.0550,4.82,High,2011,steve,2011-01-01,1,52,52,2011
4,IN-2011-47883,1/1/2011,1/8/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,37.7700,4.70,Medium,2011,steve,2011-01-01,1,52,52,2011
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51285,CA-2014-115427,12/31/2014,1/4/2015,Standard Class,Erica Bern,Corporate,California,United States,US,West,...,4.5188,0.89,Medium,2014,steve,2014-12-31,12,1,1,2014
51286,MO-2014-2560,12/31/2014,1/5/2015,Standard Class,Liz Preis,Consumer,Souss-Massa-DraÂƒ,Morocco,Africa,Africa,...,0.4200,0.49,Medium,2014,steve,2014-12-31,12,1,1,2014
51287,MX-2014-110527,12/31/2014,1/2/2015,Second Class,Charlotte Melton,Consumer,Managua,Nicaragua,LATAM,Central,...,12.3600,0.35,Medium,2014,steve,2014-12-31,12,1,1,2014
51288,MX-2014-114783,12/31/2014,1/6/2015,Standard Class,Tamara Dahlen,Consumer,Chihuahua,Mexico,LATAM,North,...,0.5600,0.20,Medium,2014,steve,2014-12-31,12,1,1,2014
51289,CA-2014-156720,12/31/2014,1/4/2015,Standard Class,Jill Matthias,Consumer,Colorado,United States,US,West,...,-0.6048,0.17,Medium,2014,steve,2014-12-31,12,1,1,2014

In [223]:
df.iloc[0:4,['order_id','order_date','ship_date']]

IndexError: .iloc requires numeric indexers, got ['order_id' 'order_date' 'ship_date']

In [224]:
df.dtypes

order_id                  object
order_date                object
ship_date                 object
ship_mode                 object
customer_name             object
segment                   object
state                     object
country                   object
market                    object
region                    object
product_id                object
category                  object
sub_category              object
product_name              object
sales                     object
quantity                   int64
discount                 float64
profit                   float64
shipping_cost            float64
order_priority            object
year                       int64
category1                 object
converted_order_date      object
converted_order_month      int64
converted_order_woy        int64
converted_order_week       int64
converted_order_year       int64
dtype: object

In [228]:
df2=df[df.dtypes[(df.dtypes=='float64')|(df.dtypes=='int64')].index]

In [230]:
df2[df2>100]

,quantity,discount,profit,shipping_cost,year,converted_order_month,converted_order_woy,converted_order_week,converted_order_year
0,NaN,NaN,106.14,NaN,2011,NaN,NaN,NaN,2011
1,NaN,NaN,NaN,NaN,2011,NaN,NaN,NaN,2011
2,NaN,NaN,NaN,NaN,2011,NaN,NaN,NaN,2011
3,NaN,NaN,NaN,NaN,2011,NaN,NaN,NaN,2011
4,NaN,NaN,NaN,NaN,2011,NaN,NaN,NaN,2011
...,...,...,...,...,...,...,...,...,...
51285,NaN,NaN,NaN,NaN,2014,NaN,NaN,NaN,2014
51286,NaN,NaN,NaN,NaN,2014,NaN,NaN,NaN,2014
51287,NaN,NaN,NaN,NaN,2014,NaN,NaN,NaN,2014
51288,NaN,NaN,NaN,NaN,2014,NaN,NaN,NaN,2014
51289,NaN,NaN,NaN,NaN,2014,NaN,NaN,NaN,2014

In [231]:
df3=df2[df2>100]

In [232]:
df3

,quantity,discount,profit,shipping_cost,year,converted_order_month,converted_order_woy,converted_order_week,converted_order_year
0,NaN,NaN,106.14,NaN,2011,NaN,NaN,NaN,2011
1,NaN,NaN,NaN,NaN,2011,NaN,NaN,NaN,2011
2,NaN,NaN,NaN,NaN,2011,NaN,NaN,NaN,2011
3,NaN,NaN,NaN,NaN,2011,NaN,NaN,NaN,2011
4,NaN,NaN,NaN,NaN,2011,NaN,NaN,NaN,2011
...,...,...,...,...,...,...,...,...,...
51285,NaN,NaN,NaN,NaN,2014,NaN,NaN,NaN,2014
51286,NaN,NaN,NaN,NaN,2014,NaN,NaN,NaN,2014
51287,NaN,NaN,NaN,NaN,2014,NaN,NaN,NaN,2014
51288,NaN,NaN,NaN,NaN,2014,NaN,NaN,NaN,2014
51289,NaN,NaN,NaN,NaN,2014,NaN,NaN,NaN,2014

In [234]:
df3.dropna()

Empty DataFrame
Columns: [quantity, discount, profit, shipping_cost, year, converted_order_month, converted_order_woy, converted_order_week, converted_order_year]
Index: []

In [236]:
df3.dropna(axis=1)

       year  converted_order_year
0      2011                  2011
1      2011                  2011
2      2011                  2011
3      2011                  2011
4      2011                  2011
...     ...                   ...
51285  2014                  2014
51286  2014                  2014
51287  2014                  2014
51288  2014                  2014
51289  2014                  2014

[51290 rows x 2 columns]

In [238]:
df.dropna(thresh=3)

,order_id,order_date,ship_date,ship_mode,customer_name,segment,state,country,market,region,...,profit,shipping_cost,order_priority,year,category1,converted_order_date,converted_order_month,converted_order_woy,converted_order_week,converted_order_year
0,AG-2011-2040,1/1/2011,1/6/2011,Standard Class,Toby Braunhardt,Consumer,Constantine,Algeria,Africa,Africa,...,106.1400,35.46,Medium,2011,steve,2011-01-01,1,52,52,2011
1,IN-2011-47883,1/1/2011,1/8/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,36.0360,9.72,Medium,2011,steve,2011-01-01,1,52,52,2011
2,HU-2011-1220,1/1/2011,1/5/2011,Second Class,Annie Thurman,Consumer,Budapest,Hungary,EMEA,EMEA,...,29.6400,8.17,High,2011,steve,2011-01-01,1,52,52,2011
3,IT-2011-3647632,1/1/2011,1/5/2011,Second Class,Eugene Moren,Home Office,Stockholm,Sweden,EU,North,...,-26.0550,4.82,High,2011,steve,2011-01-01,1,52,52,2011
4,IN-2011-47883,1/1/2011,1/8/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,37.7700,4.70,Medium,2011,steve,2011-01-01,1,52,52,2011
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51285,CA-2014-115427,12/31/2014,1/4/2015,Standard Class,Erica Bern,Corporate,California,United States,US,West,...,4.5188,0.89,Medium,2014,steve,2014-12-31,12,1,1,2014
51286,MO-2014-2560,12/31/2014,1/5/2015,Standard Class,Liz Preis,Consumer,Souss-Massa-DraÂƒ,Morocco,Africa,Africa,...,0.4200,0.49,Medium,2014,steve,2014-12-31,12,1,1,2014
51287,MX-2014-110527,12/31/2014,1/2/2015,Second Class,Charlotte Melton,Consumer,Managua,Nicaragua,LATAM,Central,...,12.3600,0.35,Medium,2014,steve,2014-12-31,12,1,1,2014
51288,MX-2014-114783,12/31/2014,1/6/2015,Standard Class,Tamara Dahlen,Consumer,Chihuahua,Mexico,LATAM,North,...,0.5600,0.20,Medium,2014,steve,2014-12-31,12,1,1,2014
51289,CA-2014-156720,12/31/2014,1/4/2015,Standard Class,Jill Matthias,Consumer,Colorado,United States,US,West,...,-0.6048,0.17,Medium,2014,steve,2014-12-31,12,1,1,2014

In [239]:
df3.fillna(value=4)

,quantity,discount,profit,shipping_cost,year,converted_order_month,converted_order_woy,converted_order_week,converted_order_year
0,4.0,4.0,106.14,4.0,2011,4.0,4.0,4.0,2011
1,4.0,4.0,4.00,4.0,2011,4.0,4.0,4.0,2011
2,4.0,4.0,4.00,4.0,2011,4.0,4.0,4.0,2011
3,4.0,4.0,4.00,4.0,2011,4.0,4.0,4.0,2011
4,4.0,4.0,4.00,4.0,2011,4.0,4.0,4.0,2011
...,...,...,...,...,...,...,...,...,...
51285,4.0,4.0,4.00,4.0,2014,4.0,4.0,4.0,2014
51286,4.0,4.0,4.00,4.0,2014,4.0,4.0,4.0,2014
51287,4.0,4.0,4.00,4.0,2014,4.0,4.0,4.0,2014
51288,4.0,4.0,4.00,4.0,2014,4.0,4.0,4.0,2014
51289,4.0,4.0,4.00,4.0,2014,4.0,4.0,4.0,2014

In [243]:
df3.fillna(value=df3['profit'].mean())

,quantity,discount,profit,shipping_cost,year,converted_order_month,converted_order_woy,converted_order_week,converted_order_year
0,285.710477,285.710477,106.140000,285.710477,2011,285.710477,285.710477,285.710477,2011
1,285.710477,285.710477,285.710477,285.710477,2011,285.710477,285.710477,285.710477,2011
2,285.710477,285.710477,285.710477,285.710477,2011,285.710477,285.710477,285.710477,2011
3,285.710477,285.710477,285.710477,285.710477,2011,285.710477,285.710477,285.710477,2011
4,285.710477,285.710477,285.710477,285.710477,2011,285.710477,285.710477,285.710477,2011
...,...,...,...,...,...,...,...,...,...
51285,285.710477,285.710477,285.710477,285.710477,2014,285.710477,285.710477,285.710477,2014
51286,285.710477,285.710477,285.710477,285.710477,2014,285.710477,285.710477,285.710477,2014
51287,285.710477,285.710477,285.710477,285.710477,2014,285.710477,285.710477,285.710477,2014
51288,285.710477,285.710477,285.710477,285.710477,2014,285.710477,285.710477,285.710477,2014
51289,285.710477,285.710477,285.710477,285.710477,2014,285.710477,285.710477,285.710477,2014

In [252]:
df3.fillna(value=4,inplace=True)

In [251]:
df3

,quantity,discount,profit,shipping_cost,year,converted_order_month,converted_order_woy,converted_order_week,converted_order_year
0,4.0,4.0,106.14,4.0,2011,4.0,4.0,4.0,2011
1,4.0,4.0,4.00,4.0,2011,4.0,4.0,4.0,2011
2,4.0,4.0,4.00,4.0,2011,4.0,4.0,4.0,2011
3,4.0,4.0,4.00,4.0,2011,4.0,4.0,4.0,2011
4,4.0,4.0,4.00,4.0,2011,4.0,4.0,4.0,2011
...,...,...,...,...,...,...,...,...,...
51285,4.0,4.0,4.00,4.0,2014,4.0,4.0,4.0,2014
51286,4.0,4.0,4.00,4.0,2014,4.0,4.0,4.0,2014
51287,4.0,4.0,4.00,4.0,2014,4.0,4.0,4.0,2014
51288,4.0,4.0,4.00,4.0,2014,4.0,4.0,4.0,2014
51289,4.0,4.0,4.00,4.0,2014,4.0,4.0,4.0,2014

In [254]:
df3.fillna(value=df3['profit'].mean())

,quantity,discount,profit,shipping_cost,year,converted_order_month,converted_order_woy,converted_order_week,converted_order_year
0,4.0,4.0,106.14,4.0,2011,4.0,4.0,4.0,2011
1,4.0,4.0,4.00,4.0,2011,4.0,4.0,4.0,2011
2,4.0,4.0,4.00,4.0,2011,4.0,4.0,4.0,2011
3,4.0,4.0,4.00,4.0,2011,4.0,4.0,4.0,2011
4,4.0,4.0,4.00,4.0,2011,4.0,4.0,4.0,2011
...,...,...,...,...,...,...,...,...,...
51285,4.0,4.0,4.00,4.0,2014,4.0,4.0,4.0,2014
51286,4.0,4.0,4.00,4.0,2014,4.0,4.0,4.0,2014
51287,4.0,4.0,4.00,4.0,2014,4.0,4.0,4.0,2014
51288,4.0,4.0,4.00,4.0,2014,4.0,4.0,4.0,2014
51289,4.0,4.0,4.00,4.0,2014,4.0,4.0,4.0,2014

In [259]:
df3['quantity'].mean()

4.0

In [260]:
df

,order_id,order_date,ship_date,ship_mode,customer_name,segment,state,country,market,region,...,profit,shipping_cost,order_priority,year,category1,converted_order_date,converted_order_month,converted_order_woy,converted_order_week,converted_order_year
0,AG-2011-2040,1/1/2011,1/6/2011,Standard Class,Toby Braunhardt,Consumer,Constantine,Algeria,Africa,Africa,...,106.1400,35.46,Medium,2011,steve,2011-01-01,1,52,52,2011
1,IN-2011-47883,1/1/2011,1/8/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,36.0360,9.72,Medium,2011,steve,2011-01-01,1,52,52,2011
2,HU-2011-1220,1/1/2011,1/5/2011,Second Class,Annie Thurman,Consumer,Budapest,Hungary,EMEA,EMEA,...,29.6400,8.17,High,2011,steve,2011-01-01,1,52,52,2011
3,IT-2011-3647632,1/1/2011,1/5/2011,Second Class,Eugene Moren,Home Office,Stockholm,Sweden,EU,North,...,-26.0550,4.82,High,2011,steve,2011-01-01,1,52,52,2011
4,IN-2011-47883,1/1/2011,1/8/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,37.7700,4.70,Medium,2011,steve,2011-01-01,1,52,52,2011
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51285,CA-2014-115427,12/31/2014,1/4/2015,Standard Class,Erica Bern,Corporate,California,United States,US,West,...,4.5188,0.89,Medium,2014,steve,2014-12-31,12,1,1,2014
51286,MO-2014-2560,12/31/2014,1/5/2015,Standard Class,Liz Preis,Consumer,Souss-Massa-DraÂƒ,Morocco,Africa,Africa,...,0.4200,0.49,Medium,2014,steve,2014-12-31,12,1,1,2014
51287,MX-2014-110527,12/31/2014,1/2/2015,Second Class,Charlotte Melton,Consumer,Managua,Nicaragua,LATAM,Central,...,12.3600,0.35,Medium,2014,steve,2014-12-31,12,1,1,2014
51288,MX-2014-114783,12/31/2014,1/6/2015,Standard Class,Tamara Dahlen,Consumer,Chihuahua,Mexico,LATAM,North,...,0.5600,0.20,Medium,2014,steve,2014-12-31,12,1,1,2014
51289,CA-2014-156720,12/31/2014,1/4/2015,Standard Class,Jill Matthias,Consumer,Colorado,United States,US,West,...,-0.6048,0.17,Medium,2014,steve,2014-12-31,12,1,1,2014

In [262]:
df.groupby('converted_order_year')['profit'].mean()

converted_order_year
2011    27.666238
2012    28.043722
2013    29.604519
2014    28.758540
Name: profit, dtype: float64

In [263]:
df.groupby('converted_order_year')['discount'].mean()

converted_order_year
2011    0.148188
2012    0.141286
2013    0.140265
2014    0.143291
Name: discount, dtype: float64

In [265]:
df.groupby('converted_order_year')['shipping_cost'].mean()

converted_order_year
2011    27.147264
2012    25.861329
2013    26.418577
2014    26.268197
Name: shipping_cost, dtype: float64

In [267]:
df.columns

Index(['order_id', 'order_date', 'ship_date', 'ship_mode', 'customer_name',
       'segment', 'state', 'country', 'market', 'region', 'product_id',
       'category', 'sub_category', 'product_name', 'sales', 'quantity',
       'discount', 'profit', 'shipping_cost', 'order_priority', 'year',
       'category1', 'converted_order_date', 'converted_order_month',
       'converted_order_woy', 'converted_order_week', 'converted_order_year'],
      dtype='object')

In [268]:
df[['country','market']]

             country  market
0            Algeria  Africa
1          Australia    APAC
2            Hungary    EMEA
3             Sweden      EU
4          Australia    APAC
...              ...     ...
51285  United States      US
51286        Morocco  Africa
51287      Nicaragua   LATAM
51288         Mexico   LATAM
51289  United States      US

[51290 rows x 2 columns]

In [274]:
df.groupby('converted_order_year')['sales'].mean()

TypeError: Could not convert 408120664511455314276912667338211854193159195123696913536526281476171,64822318614014916674383839271627171563,0292079027349124324509041392831202,57461039225644527471638817475645331551991431913272631718552,4792,174987397775011651024017715812452459102,87536358996814215515630942553206421142630343716211111731121691,3841,3234525546972453342681031881421571159778140555240225349538555252229034257101715161353177941,20020119838263150221691,3265736474865464403342243931061365124611099801097974662011376793527652265150512496217055451915211501,41230012712430849546371919177461083826144181457162262784841655348168253721811411965649109584837322410111392,7971,2441,06870040527727318249524810767856144616723395230271823191419151978898256666095202259219109546525776121,1029204826243491,303561591734202201336913955111415440594228126151144514817813371453298182043341,113570311285119318256124793433451421151081368888523241348612609161311177514211549018836776155230316382512017403519111751253233313290573628493369444162191184254201212,5711,9178392304363343743516485951226210611363243032112862912061633524013101404182782320212112101,05258455038158737969246972916233424846826686105894644445711638951344349118125301891244188411514984593027135374591734832083145185162278252208112506728531159651601151105050583039331619513405133407423269267803689125720313755938560481525266,9997188222153057802061333071151242011978726504167665217044531919149813344513819049678522121,256682234333486126576552171514101301,279465297607406238192254777714782771565873262716271492,7851,7449211,235875728273239137209240135158133991279555823116304,5441,2115172774804762842922391502949010580622140123381130967701272988661825277258129300823762972454303524145511825138031,00380629717334615018417916493622536302921321813204774031034903336318511520758254123384710961141,5272,0661581609849169191745472,076654501490143956123095710762372752564166897446131,5273943395457982323382397988685287533268793601441775812059556747527122211162581140135831114012011512519185511,3141,4713646342467051,2442154585883771953621631164931072663522391091519219711813799631306422130472424623714710212124819171317132218312567757766822581,0552111511073636461131,6191,09675231159848982530262649212633473114017711311912658694259253157451615812192410145553559190944316480986050102261912781,0124824378461084920558108753118122241124316212,8558611,33061954390038495414412414380117317101417660168872311751501039441971261711104291,2745206361,097832017463523828222064358822925932410914715559338144277236431512181088133,2722732851959416765442423,0705752301,140220193379432193883486291811749332181131438034125415413248143664843461002924117472225501598983473241,5801,0723486141278773814394531553547363033211641320165111,1981,8561,28054382159622,6381761781381225710214011149311917211483241703812620125343,5002,3147812702882567478210518821856565997931053201234710388123101354933132383916212614507206559102,12527331422839458901195141407422162686055137703635082683304171721371641931244844592919275911104532461522301093331401325304131,39719114936761991107184292647381725451525191577955192662968281932191,1853024933092602051011433311891689310012028393022163045211168663989117039226111022038170285198729252127166696336390285234416461226206248218127129626644513043443024502211167162,6248241,1256164236743361411248050223110646434471323534021841672149729656815813984861238048681224520443025186711151761096831,0501,2782284565233,19515415517823111581150112172181912283316927391163591603362115135075866581,064527233293208120100931465176798648365919321727194119727138854,1641,88967669071249829423155115471165250271274061762923284623141131413151,5246545843001171551236612371704592343347243338210925519156731538630413235801238158119201534824149811,8951,6675261,21634240017210821950100642219220571581617785758384492336306257217294131831071064487571064713101,4511,07530873222974386640543821332432221851041447011619419317296721001088443709064485019281718188311095416255766152501791741061693971139714456865862291,841223123171281923361889897166107261655710033399928361531,0021,23264034514516920013518683931174752,0173127303493171252422881495758133228396524814854313311581213388057623027613219558945571765083291322155744693667402238186360110458612819336645604126201281595102486584552238829444368247899212386621503338396852334917246454151,244248398365299211195218293239792341544029916080701769058305458085412520113121101828145494928129223671661,487453504181271302409515242303110812136910019121462039141426155610122718668441323017690611594945453721131814322,5451,713920719808214128334218281124120686742533111251151,680498178299178109160871161146264867222274216502112534738456216183424410056150526693145293766201817211582618296704817552442,7541,0574801,3892463095213372661562362888147711573162982659494924236435335346001461835898699423891071171765562241014951972854146274060283222171115152,8341,1131,413379369229188821129942653856552735972547312676125581,047382298311139128897956601077035532425124522971,1311882004245145703231634364838716714125216710891151161347825316141192411146872414224194821711691,8005341681,0165355346773794081701598313912813416853626810512214526729151,43261047035011832219531722025744135391581669272855186715540382426412622441572001,21321213330249105197101404733354147565836196614176271,074700482245609274232175351432581015889922548515453293214193,0793981,02514754025711572109279139991505714353567251681,83672595331133486849628593119431040923328911553524156112,12585014843923262781425835667861,0591,38396569878039714943794263120510193156127172871237714948150431654514419491421493578669238457139853464323557651810156611406713039332722712918211013102,5402,7165086187551,05444820711724610856476114104626459586718283247321924111820551045136451,1217689181,2722444418424429020818646555396418132740217353,6711,4448508759559783662538282170191201116112502227296982132736012562051931161037610260822924152,859608360159202255291185488452225123103164454310046131,114359713735324827567205881006013044100171414963674424141323461,303471137545728542,2294649562367207401,198355489381232204407026553229541422211146147621,6801,24538352453966033634663625398139671477055102658511447321871,0381,0291,5038822,002806482450389512223902121091405128910313958581675948662144863131021282226252221451171,2532,0534131,5039763574424501,16126622028624038824313934527612618312590561121015073816057735148232722283129229128108551,3543849739865162,5451335633302678035121223816166541256762631435024992512287523016611136281524208221385616467325388354123802257141416221628991372920625781,2661,71793839523799225248688410418522558322104238604410079518389135150654129482977621425132517149515514,6241,0698473823861,36071350619459926934975942322215130620614512114423312716517213114685130104695315211892668410939365335854328149591542311712381912110912572,1679574551,6778605862269633628998170791071471521131022819418056596813462125901218243951010691,4415966685129111,706300907803453127925914627221513617064621151117014413037343244184249382314183830193678783831467254132633116393492101687583490591325133680585445164882,056344237232746925184718241727111,51228463243821526433327520127121911292224732391384867511173235726616440361639151815322361,2726362412883409320622013760582132015811113812489642945375129151029113512889122513381,29673979866068782231184118100693780179726514127589334811488429151413993635616053692496481567381318793639942534140353,2383,266829421413327961714273184524901641322109513312784501062651192061279362673087482366474436302071518271961,8145192783733384112631502341488514013610417067715116162970813114587653521,5165094724193071933772102061961623473582021161703251098053119496716039202739676176629168123496431,2151,6961,32361859026526540511025528513220710416011044111211415147203728965160253256111120254494102241,7182,6376196194691,2868548085355024632735086725292191973592291979762623663841451322392443541701823221121622471521132681528345623127867301423315183732764458249152117143802231026511013630748249867154202014791631,59172935716639220526915417313219012511796100808563465428912425119222023942,2661,044458264448266439211136721085984918177045543463134554153431005273223182675201472209213867132306134122671391562248913250114113863661253653136895650405638504117135921,2281,7996286632374013233361912733192477941316637494431192193338363,3121,283461554405380186111167333967979872507466875377431023331951141,8525332495673111373352036876230176151454532652871741392032122115511157116731,888576623139463623429205517174354625326800178279249171453229103522216848021341522132418171728571832811161920635050158826374920104447899456052935310817534180919076184319246521,856547690621721943918669163142460166932111,630502214249250641971165160521,05713312812049103908164524232241414310657645560159085521716517721219814052312454611125249101814251,0586982504152561555125951911909357366112311686632081532224824161111358435179235137109679419438171312995673842435110362415639426730382418321315125714131223377331,7295242682272662441074061296515511678071361,6591,2077023322242593052681114211126344531321314282,5569813601097155174554221649761,5365312629812732981761781903431063841651059079535123262743375834391482342322012917241113313931,084658273308141651802291952601282731461499052998850193612511,5087182371601701472730122017126674791,0246051251313021001242437849414241452981023823471494023391,4321,4166362608,18890495478284624141662,178873912674233431364428194163112136134100171124206796811028331626171717329151351,6221,457824347173238340423276804451404360267347661183814212143572911119366722247281055101,313623185130273491214974436527443356141498470217116132164107183637043127554430174220161,3405126191,368178101432219385837216026501,1585171,5049232702172499927999408052253196539038851037863414444202492513313121618131068283827591117884814328090158871021801012631158814344971913116296234272329112141058412,6055267133616465093662193881361351481953873301492635865299937747426610216180514824334027882719294970232374211131,4551,0906164397291,758963735448400260351255332379333130283247102243164110159102105205141149204124411411444249153652251316121685861,1333927222352484891363401121241009110896605879111466059493646274621161110616118516200239197187638029191612921381,2741,2009555504464233653002852491501681552666114332897121547696385442281337171713957121,4692,0451,8199562,0611,091457469336215194334178503208219885966885357154961423516282366921425,2775,10079637051317614119413869105733924511539413161,5147571851551,0933603754783041396468121110157225268954611457111118133732442927487952341161612321591,1611,06880659727325210529861822719621110029032710142159851875914329691284164615844827691354714131905013311924631,03876926527716579101,30645333943116917639223815239617315319524519291159188569719163938933466325846321044118311310114,4533,2745378536692662265815101582681801481336311298205106695196329058322629481416911129557561,6485791892401952203402888310283139547337974840107114372122181623303211105131,1221,56992449964060538252442319726214034661561627230410270759445372125481001881005172,3371,8361,938359700639494289243345521477677696617651707791515111152730421500897140145591716321628201189551413010726520457210112683963081,9281,39562221616225513722580342111125484125811229238199223262144254143467214926506376312310548192616131611794557182636744190275451393158119617631142851099561728714266651451315554351134824231427188814109131543123273937966464391,0084242778211131301,342429150379330951221151447612845344019203460651024946242626203232472139263140510691217732,4732,2245388651318425966154150160177117715515846189531738613221169101731,2035807423715146302672132802752967472388199131892,3012,4531955051751473111649817411115426187786436110443032133122191,782569757395501729384415683221129222222146291103146115131801347641633696852731431911452526178855321510768484204374362447717656113993196775911418340169285014933950243751,4291,2337681,1001834742433571383481868812578311014464376124245419211849232,0771,7941,236561250190476560541307486579213221961592444068017458240863531487113145448035537513210710550106988122149341523872120681818222113151211169146438511438922785561,07620426426569196328767252104118931632291711204078706661,1196035142373322247683182833201932551612,473901541494254736058393949331210104933782252440030543019713220171210545816219120137819100110432952355658288442324732123637526527261313202221348,1602,1341,1431,1222,3641,1121,6679761,5914574243221,7403044865479672106,51765049297276831788416718961129182651441569817387615157459541515277355243225024185256342117323277152414332512136106944451,3007861,3261,3697671,5932882667312962861981371451371662056198154136149883110438655458162645242217111617151032531,48728424913941425512288826552221044628820413613812812163,7857311,0266671,2507777456822293398133215344024735816731611115960173971096458931335634708136275752412628611328162310715554111,474252118395749134145204271200116149340867811079602763935849553012328231472962019578167141919115516316133,8172,80099260146431759828845672350896519216840825726815389382449198399611710715843771422468784513856825421160326652273482713131917252513202171829996117108091,2741,293749785634640361752153019420328225226428112111112118823310825437517620690104406029503627301954255322121513152061,67455386225618965410017016916925217434485313172261612711162153183251117137149127555828563530304038486555188871732,6253,0602,5202758873021,9681723323591,1087376941812353937388311673481741622715844133428441420673,6178021,350632630973493178565551268363203167152618198317259164751181031124035100594468226031231760311144203122933101,1821,3781,8007051,40362124624030761171136778019936678613378266021215727366639195521251685131630203771162499145301,9176875801,2413324963042061612393853981871051006431151693266597110621929413251343,0199,4501,7091,2105431,0941,107568411436145171410343405190216711395719240950127122844661207358511986243880452151102912184836321119101713139112,22161814871019910721257277013122,8851,0187401,071301150102513415335861,253438747425424514281854223102371632723314380102146881311001371441064244516015419385468324615284330444130211728261330334020636311,2541,8921,1416045071,1011,0224454746893052062972946727812210520213614999981223941731171171492421368878224554577117582582441157951784829393239371924016982,3254,1954775065361946212351873373021771379014250885437423746249528106443496123815192613345311191,8022,3491,3966865534091628548086671174382302057832905567676662127116413154215119173669610467959405785332523932511424431441698971252116144491144985803143697013383013161571,017232104105665222139531823013155971,5271,2367801,0391,56825826782242142290143569827122821016283432848547832361415392652164425891,292880285859568350521280276224293961052122727877548538301938281457112936154491729288513581945824554651009277123100854942103017463,6952,0772,148822901966668415539583331249443207340576425386194578812420364258438415543532399486925121,2725791,018518740768334785412152334290270206114486144220804295621634413047152336412522102331079872344521511384416531323254110771713247101,0861,081854481239312459768763238436514589169869041,0502567207561224412917078212011010211447541492461445334871554325518221112143434524320128212632546352192244103120237981,0932201,1052072431635166374916091905389914472165026100192122315231,0661,2991,1396353152631582143165246353211423254293573972221072461469841618736190712853533630272319672616271519122881831,6292,0002,1748452,544713177700270120125322911268793855116411216211462108167233429452341191417331,3761,19095933970392863718335215225133712313714368458155653331011515116021802731539448141,8397246912433414031439618517723712012577603948442453118255191711217561,3959626822766051555461871,334242130248623417677174255346652411151012,0183801,74249337126237617734051932210918312487130118739867147102996457425241103322036131934181033505966809327916514423546320212329235171137257988314324835762505826353012222791384131,0531,303410737317516122591261293140143195932481601178196606423514513192536383191,2505039414941415001631306994801361015244996738521,4222,121383144143695546126534222410431196309873676490339304777915022088878326444925174118325314714122811642,1211,40286288359638490302307138161109762364484934719221812174151,2782,4711,6931,2757472,1911,2391,285382590912422533172416267224186872259101945728253729130362934402226222012101162172,301617434475195258481397141218853931367226352,73675074754576117502116181,6051,42274299338625220882248741461324068012925467140656712333049191549231218231834131691113101,9847431,5931,550283527594770979444389197677929122520254200589142534832673234943682551289913214416149112148761255070946947378746478713719494815633112929168334494333283216162224127102164833361,262800178608649385593540363505104178137200154178851038922846716533668925374450534626423538322833231914822229402,5271,9832,5441,2072931,2001,200784881410746376227537391244945286172901441751691141471818235497390767151247761832926477738165425257121411261483173,9921,3818201,4021,0461,0361,0286662761,0863602302522273312494874481381301412385744513612616813480171103138986644751193531591844131755582821523722261919517818634,4499099311,08033975126612115027419325712148546558495279476120131,32014844441,8221,7441,2753471,273831147846832398721451135108741,235417246121574922853166106111468447105439876574012370182626188636354241233723353022111012651395769174492368334349192168112548361848485903432533128428976111,8593,20096970467860427652434154318422395145639313717418842138515086576432731333,17272549160260446543224853513219956420531833065682061375553184030625840443926115063221413161945,7252,5827818943931,3832,03449557679895266660452241989726238322412456034424168256891741135127410214886781941141053610868261930461664502421231716221182073423311,6615086292513362975012830683980463625177812331448991224,4998331,0005331,308372365340921941,357443494964881396970165855784234134217932211119111113201279172,3987726187286051,0046367294052444981362081651473331687260405225457720493340112227101539141625452,0638573065216163453382891952043983202502748097969278169374575312932202627121830217452,9342,1537345264384,008658480136302241100124124155821321038348585630103346329921210874703,1788289324242654907301,119382393669962192991795401461171172992926413860673361775215451367551225343621816171212141416101881011878322394,5497296071,0261595043922822061662135214822127315059472314296101183451352613171,9542681416293362297474105231107194681159495666982601682305122623719246324135325772,4431,12475333221842614367542633222960432091961329867435854709350178329274473491625192221011261116794410474604381773583313269654344190155307314155583250118147702705966302661001386364344756224517553098212224191823431561141612666661,0509641,5021,70764661135186333952548615219812114415211211117319751445744352634920121625361,3361,1752,1231,2851,2957441,1186591,219725547353540321714342232276157353342209251144213184537674513451492527533956552613143616161125252474620134632,0401,1332236695384382471209354151280531782411213281514411619101523774472005245333989998808714141404624144541913282448613657254731047814898411404699110231793612213534432412722211864172217398014332992272019341816152424844511,6301,2724399266441642651701362441642835761022498560152908698681016350435369103062325131612775441,4416356892871501416332523212938710120697102627242178262645848412812219792,8081,7969106741,1811,89418027266022049139211218117410358422010247581187610277264658966555572530392736284414101284688437967637128230034950589021922824024664512014614712061957147582340163119132691615623,2287559903793542203633964801603366375179144741583650413677561034125493026172053459130266411,11383180274434891781036740925032415812617310716818099795011098413149422321251729371749259902615163021,2612,5196361,0491,8856391,23424627534621524612011313648116462918014276143463748423580243573685553501428261119952,8757241652732,59659631237156126924227215687431062510627108201653169184892,227744911770415993853604688344188191276384421257133132112841351246125356133751085459465359

In [280]:
df['sales']=df.sales.str.replace(',',"").astype(int)

AttributeError: Can only use .str accessor with string values!

In [282]:
df['sales']

0        408
1        120
2         66
3         45
4        114
        ...
51285     14
51286      4
51287     26
51288      7
51289      3
Name: sales, Length: 51290, dtype: int32

In [285]:
df.dtypes

order_id                  object
order_date                object
ship_date                 object
ship_mode                 object
customer_name             object
segment                   object
state                     object
country                   object
market                    object
region                    object
product_id                object
category                  object
sub_category              object
product_name              object
sales                      int32
quantity                   int64
discount                 float64
profit                   float64
shipping_cost            float64
order_priority            object
year                       int64
category1                 object
converted_order_date      object
converted_order_month      int64
converted_order_woy        int64
converted_order_week       int64
converted_order_year       int64
dtype: object

In [284]:
df.groupby('converted_order_year')['sales'].mean()

converted_order_year
2011    251.112581
2012    244.252235
2013    246.819335
2014    245.282129
Name: sales, dtype: float64

In [287]:
df.groupby('converted_order_year')['quantity'].mean()

converted_order_year
2011    3.494443
2012    3.476647
2013    3.488369
2014    3.457989
Name: quantity, dtype: float64

In [289]:
df.groupby('converted_order_year')['quantity'].sum()

converted_order_year
2011    31443
2012    38111
2013    48136
2014    60622
Name: quantity, dtype: int64